<div class="banners">
    <div class="mbox">
        <div class="banners__wrap">
            <div class="banners__left">
                <ul>
                    <li><a href="#"><img src="images/amazon.png" alt=""></a></li>
                    <li><a href="#"><img src="images/ebay.png" alt=""></a></li>
                </ul>
            </div>
            <div class="banners__right">
                <ul>
                    <li><a href="#"><img src="images/macys.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/kohl.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/walmart.png" alt=""></a></li>
                    <li><a href="#"><img src="images/groupon.png" alt=""></a></li>
                    <li><a href="#"><img src="images/zappos.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>