<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer__toper">
        <div class="mbox">
            <div class="footer__menu">
                <div class="footer__top">
                    <ul>
                        <li>о компании</li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">ЧаВо</a></li>
                        <li><a href="#">Партнерам</a></li>
                    </ul>
                    <ul>
                        <li>помощь</li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">ЧаВо</a></li>
                        <li><a href="#">Партнерам</a></li>
                    </ul>
                    <ul>
                        <li>магазины, скидки</li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">ЧаВо</a></li>
                        <li><a href="#">Партнерам</a></li>
                    </ul>
                    <ul>
                        <li>условия доставки</li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">ЧаВо</a></li>
                        <li><a href="#">Партнерам</a></li>
                    </ul>

                </div>
                <div class="clock">
                    <div class="clock__frame">
                        <div class="clock__place">Сейчас в <span> East Hanover, NJ</span></div>
                        <div class="clock__main">
                            <div class="clock__image"><img src="images/clock.png" alt=""></div>
                            <div class="clock__time">
                                <div class="clock__decimals">3:35</div>
                                <div class="clock__date"> воскресенье, <span>25.06.2017 </span></div>
                            </div>
                        </div>
                        <div class="clock__open">
                            <div class="clock__status">Склад <span> закрыт </span></div>
                            <div class="clock__when">откроется 26.06.2017 в 8:00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="mbox">
            <div class="footer__socials">
                <div class="footer__text">следите за нами в социальных сетях:</div>
                <div class="footer__icons">
                    <a href="#"><img src="images/facebook.png" alt=""></a>
                    <a href="#"><img src="images/twitter.png" alt=""></a>
                    <a href="#"><img src="images/vk.png" alt=""></a>
                </div>
            </div>
        </div>
     </div>
</footer>
<!-- FOOTER -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/plagins/scrolling.js" ></script>
<script type="text/javascript" src="js/plagins/mousewheel.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>


<!-- endbuild -->

<!-- /SCRIPTS -->
