<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="head">
                <div class="head__left js-left">
                    <div class="head__logo"><a href="#"><h2 class="orange">shoppex.<span>us</span> </h2></a></div>
                    <div class="head__select">
                        <select>
                            <option selected value="eng">ENG</option>
                            <option value="ua">UA</option>
                            <option value="rus">RUS</option>
                        </select>
                    </div>
                </div>
                <div class="head__center">
                    <form action="" class="head__form js-form">
                        <input type="text" placeholder="Поиск">
                        <div class="head__search js-search">
                            <ul>
                                <li><a href="#1">Macys осенние летние кроссовки</a></li>
                                <li><a href="#2">Kohls кроссовки  вторая пара в подарок</a></li>
                                <li><a href="#3">Красный свитер Kohls акция</a></li>
                                <li><a href="#3">Не листайте дальше</a></li>
                                <li><a href="#3">Иначе</a></li>
                                <li><a href="#3">Больше никогда</a></li>
                                <li><a href="#3">Не увидите текст</a></li>
                                <li><a href="#3">Который находится</a></li>
                                <li><a href="#3">В самом верху ...</a></li>
                                <li><a href="#3">Этого списка</a></li>
                                <li><a href="#3">Если только ...</a></li>
                                <li><a href="#3">Не пролистаете вверх</a></li>
                            </ul>
                        </div>
                        <button><span><img src="images/zoom.png" alt=""></span></button>
                    </form>
                </div>
                <div class="head__right">
                    <div class="head__callback">
                        <a href="#">
                            <div class="head__letter-img">
                                <img src="images/letter.png" alt="">
                            </div>
                            <div class="head__letter-text">обратная связь</div>
                        </a>
                        <a href="#">
                            <div class="head__messages">
                                <span>10</span>
                            </div>
                        </a>
                    </div>

                    <!--<a href="#">-->
                        <!--<div class="head__enter">-->
                            <!--<div class="head__enter-img">-->
                                <!--<img src="images/enter.png" alt="">-->
                            <!--</div>-->
                            <!--<div class="head__enter-text">вход в кабинет</div>-->
                        <!--</div>-->
                    <!--</a>-->

                    <div class="head__cabinet js-cabinet">
                        <a href="#">
                            <div class="head__cabinet-img">
                                <img src="images/man.png" alt="">
                            </div>
                            <div class="head__cabinet-text">мой кабинет</div>
                        </a>
                    </div>
                    <div class="head__cabinet--options js-options">
                        <ul>
                            <li><a href="#">личные данные</a></li>
                            <li><a href="#">мои заказы</a></li>
                            <li><a href="#">настройки</a></li>
                            <li><a href="#">выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-wrap">
        <div class="mbox">
            <div class="menu">
                <div class="menu__list">
                    <ul>
                        <li><a href="#">магазины</a></li>
                        <li><a href="#">распродажи и скидки</a></li>
                        <li><a href="#">как пользоваться</a></li>
                        <li><a href="#">калькулятор</a></li>
                        <li><a href="#">помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

