
<div class="sales">
    <div class="mbox">
        <div class="sales__wrap">
            <div class="title">
                <h2 class="black">Скидки и распродажи</h2>
                <div class="sales__buttons">
                    <div class="sales__button-left js-sales-b-l">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                            <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(64, 67, 78)" fill-opacity="0" fill="rgb(64, 67, 78)"
                                  d="M19.500,3.500 L19.500,22.500 L3.500,12.500 L19.500,3.500 Z"/>
                        </svg>
                    </div>
                    <div class="sales__button-right js-sales-b-r">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                            <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(64, 67, 78)" fill-opacity="0" fill="rgb(64, 67, 78)"
                                  d="M3.500,3.500 L3.500,22.500 L19.500,12.500 L3.500,3.500 Z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sales__mbox">
        <div class="sales__slider js-sales-slider">
            <div class="sales__out-box">
                <div class="sales__box" >
                    <img src="images/sales1.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>30% скидка на все по коду SALE</p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/kohl.jpg" alt=""></a></div>
                </div>
            </div>
            <div class="sales__out-box">
                <div class="sales__box">
                    <img src="images/shoes.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>free shipping on all orders from $25</p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/gilt.png" alt=""></a></div>
                </div>
            </div>
            <div class="sales__out-box">
                <div class="sales__box">
                    <img src="images/sales3.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>70% OFF</p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/neiman.png" alt=""></a></div>
                </div>
            </div>
            <div class="sales__out-box">
                <div class="sales__box">
                    <img src="images/sales4.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>free shipping on all orders from $25</p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/hot.png" alt=""></a></div>
                </div>
            </div>
            <div class="sales__out-box">
                <div class="sales__box">
                    <img src="images/sales5.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>30% скидка на все по коду SALE </p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/walmart.png" alt=""></a></div>
                </div>
            </div>
            <div class="sales__out-box">
                <div class="sales__box">
                    <img src="images/sales6.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>70% OFF</p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/groupon.png" alt=""></a></div>
                </div>
            </div>
            <div class="sales__out-box">
                <div class="sales__box">
                    <img src="images/sales1.jpg" alt="" data-object-fit>
                    <div class="sales__tell">
                        <div class="sales__header">
                            <p>70% OFF</p>
                        </div>
                        <div class="sales__text">
                            <img src="images/clocky.png" alt="">
                            <p>Действительна до: 12.09.2017</p>
                        </div>
                        <div class="sales__button">
                            <a href="">получить</a>
                        </div>
                    </div>
                    <div class="sales__low"><a href="#"><img src="images/groupon.png" alt=""></a></div>
                </div>
            </div>

        </div>
    </div>
</div>