<div class="slider">
    <div class="slider__down  js-slider-bg">
            <div class="slider__center slide__1" >
                <div class="mbox">
                    <div class="slider__buttons">
                        <div class="slider__button-left js-backward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M19.500,3.500 L19.500,22.500 L3.500,12.500 L19.500,3.500 Z"/>
                            </svg>
                        </div>
                        <div class="slider__button-right js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M3.500,3.500 L3.500,22.500 L19.500,12.500 L3.500,3.500 Z"/>
                            </svg>
                        </div>
                    </div>
                    <h1>вторая пара бесплатно!</h1>
                    <p>ПРИ ЗАКАЗЕ ОБУВИ В МАГАЗИНЕ <img src="images/kohl-white.png" alt=""> <br> <span> ОФОРМИТЕ ЗАКАЗ С 12.07.2017 ПО 12.09.2017 <br>
                        ПРОМОКОД</span> FREESHOES</p>
                    <a href="#" type="button">перейти в магазин</a>
                </div>
            </div>
            <div class="slider__center slide__2" >
                <div class="mbox">
                    <div class="slider__buttons">
                        <div class="slider__button-left js-backward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M19.500,3.500 L19.500,22.500 L3.500,12.500 L19.500,3.500 Z"/>
                            </svg>
                        </div>
                        <div class="slider__button-right js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M3.500,3.500 L3.500,22.500 L19.500,12.500 L3.500,3.500 Z"/>
                            </svg>
                        </div>
                    </div>
                    <h1>вторая пара бесплатно! want?</h1>
                    <p>ПРИ ЗАКАЗЕ ОБУВИ В МАГАЗИНЕ <img src="images/kohl-white.png" alt=""> <br> <span> ОФОРМИТЕ ЗАКАЗ С 12.07.2017 ПО 12.09.2017 <br>
                        ПРОМОКОД</span> FREESHOES</p>
                    <a href="#" type="button">перейти в магазин</a>
                </div>
            </div>
            <div class="slider__center slide__3" >
                <div class="mbox">
                    <div class="slider__buttons">
                        <div class="slider__button-left js-backward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M19.500,3.500 L19.500,22.500 L3.500,12.500 L19.500,3.500 Z"/>
                            </svg>
                        </div>
                        <div class="slider__button-right js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M3.500,3.500 L3.500,22.500 L19.500,12.500 L3.500,3.500 Z"/>
                            </svg>
                        </div>
                    </div>
                    <h1>вторая пара бесплатно! rly?</h1>
                    <p>ПРИ ЗАКАЗЕ ОБУВИ В МАГАЗИНЕ <img src="images/kohl-white.png" alt=""> <br> <span> ОФОРМИТЕ ЗАКАЗ С 12.07.2017 ПО 12.09.2017 <br>
                        ПРОМОКОД</span> FREESHOES</p>
                    <a href="#" type="button">перейти в магазин</a>
                </div>
            </div>
            <div class="slider__center slide__4" >
                <div class="mbox">
                    <div class="slider__buttons">
                        <div class="slider__button-left js-backward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M19.500,3.500 L19.500,22.500 L3.500,12.500 L19.500,3.500 Z"/>
                            </svg>
                        </div>
                        <div class="slider__button-right js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="26px">
                                <path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(255, 200, 0)" fill-opacity="0" fill="rgb(255, 200, 0)"
                                      d="M3.500,3.500 L3.500,22.500 L19.500,12.500 L3.500,3.500 Z"/>
                            </svg>
                        </div>
                    </div>
                    <h1>вторая пара бесплатно! no</h1>
                    <p>ПРИ ЗАКАЗЕ ОБУВИ В МАГАЗИНЕ <img src="images/kohl-white.png" alt=""> <br> <span> ОФОРМИТЕ ЗАКАЗ С 12.07.2017 ПО 12.09.2017 <br>
                        ПРОМОКОД</span> FREESHOES</p>
                    <a href="#" type="button">перейти в магазин</a>
                </div>
            </div>
        </div>
    </div>
</div>

