<div class="works">
    <div class="mbox">
        <div class="title">
            <h2 class="black">Как это работает?</h2>
        </div>

        <div class="works__blocks-wrap">
            <div class="works__block">
                <div class="works__block-outer">
                    <div class="works__img">
                        <img src="images/a1.png" alt="">
                    </div>
                    <div class="works__header">
                        <p>регистрируйся и получай свой личный адрес</p>
                    </div>
                    <div class="works__separ">
                        <span>1</span>
                    </div>
                    <div class="works__text">
                        <p>Зарегистрируйтесь и получите свой личный адрес для интернет-шопинга в США</p>
                    </div>
                    <div class="works__button">
                        <a href="#">зарегистрироваться</a>
                    </div>
                </div>
            </div>
            <div class="works__block">
                <div class="works__block-outer">
                    <div class="works__img">
                        <img src="images/a2.png" alt="">
                    </div>
                    <div class="works__header">
                        <p>покупай в любом интернет-магазине сша</p>
                    </div>
                    <div class="works__separ">
                        <span>2</span>
                    </div>
                    <div class="works__text">
                        <p>Заказывайте товары в любых интернет-магазинах и указывайте ваш личный адрес в США для доставки покупок</p>
                    </div>
                </div>
            </div>
            <div class="works__block">
                <div class="works__block-outer">
                    <div class="works__img">
                        <img src="images/a3.png" alt="">
                    </div>
                    <div class="works__header">
                        <p>регистрируй покупку в своем кабинете</p>
                    </div>
                    <div class="works__separ">
                        <span>3</span>
                    </div>
                    <div class="works__text">
                        <p>Заполните в личном кабинете информацию о вашем заказе и мы отправим вашу посылку как можно скорее</p>
                    </div>
                </div>
            </div>
            <div class="works__block works__block--last">
                <div class="works__block-outer">
                    <div class="works__img">
                        <img src="images/a4.png" alt="">
                    </div>
                    <div class="works__header">
                        <p>получай посылку прямо в руки</p>
                    </div>
                    <div class="works__separ">
                        <span>4</span>
                    </div>
                    <div class="works__text">
                        <p>Получите посылку курьером прямо в руки, не выходя из дома, или в пункте выдачи посылок в вашем городе</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>